*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    /* overflow: hidden; */
}

a{
    text-decoration: none;
}

.container{
    padding: 15px 0;
}

.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

button{
    cursor: pointer;
}

h1{
    font-size: 57px;
    color: #6030B1;
}

.purple{
    color: #6030b1;
}

li{
    list-style-type: none;
}

/* 

NAV

*/

nav{
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
}

.nav__section--home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links{
    display: flex;
    align-items: center;
}

.nav__link--item{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 32px;
}

.nav__link{
    position: relative;
    color: black;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    top: 25px;
    right: 0;
    width: 0;
    border-bottom: 2px solid;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after{
    width: 100%;
    left: 0;
}

.link__hover-effect--black{
    color: black;
}

.link__hover-effect--white{
    color: white;
}

.nav__logo{
    width: 100%;
}

.nav__logo--wrapper{
    max-width: 150px;
}

.nav__btn{
    font-weight: 700;
    letter-spacing: 1px;
    padding: 16px 40px;
    border-radius: 50px;
    background-color: #6030b1;
    border: none;
    color: white;
    transition: all 300ms ease;
}
.nav__btn:hover{
    background-color: #5d3eff;
}

/* 

HEADER

*/

.header__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.header__title{
    line-height: 70px;
    margin-bottom: 30px;
}

.header__sub-title{
    font-size: 30px;
    margin-bottom: 85px;
}

.header__search{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 550px;
    z-index: 1;
}

.header__search--bar{
    position: absolute;
    top: -30px;
    left: -90px;
    padding: 20px 25px;
    font-size: 24px;
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
}

.header__search--bar::placeholder{
    position: absolute;
    left: 25px;
}

.header__search--icon{
    position: absolute;
    top: -30px;
    left: 395px;
    margin-left: 90px;
    /* width: 100%; */
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: #6030b1;
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    transition: all 300ms ease;
}

.header__search--icon:hover{
    background-color: #ff328f;
}

.header__img--wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

.header__img{
    position: absolute;
    top: 3vw;
    width: 80vh;
    height: 50vh;
    overflow: hidden;
}

.header__car{
    position: absolute;
    top: 460px;
    width: 55vh;
    height: 22.5vh;
    animation: float .5s linear infinite alternate;
}

@keyframes float{
    0%{
        transform: translateY(-1px)
    }
    50%{
        transform: translateY(1px)
    }
    100%{
        transform: translateY(0)
    }
}

.header__car--tires{
    position: absolute;
    top: 635px;
    left: -40px;
    width: 100%;
    max-width: 100px;
}

.header__tire{
    position: absolute;
    top: 0;
    left: 465px;
    width: 9vh;
    height: 9vh;
}

.header_tire--left{
    position: absolute;
    margin-left: -465px;
}

/* .header__tire2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 9vh;
    height: 9vh;
} */

.header__car--headlights{
    position: absolute;
    top: 585px;
    left: -350px;
    width: 4vh;
    visibility: hidden;
}

/* 

MOVIE NAV

*/

.bg__img--wrapper{
    position: relative;
    height: 25vh;
    overflow: hidden;
}

.bg__img{
    position: absolute;
    width: 100%;
}

.bg__img--overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsl(262.3, 57%, 18%);
    opacity: .75;
    width: 100%;
    height: 100%;

}

/* .nav__logo--white{
    filter: rgba(255, 255, 255, 0);
} */

.nav__browse{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1100px;
    padding: 24px 0;
}

.nav__btn--contrast{
    background-color: white;
    color: #6030b1;
}

.btn__link--purple {
    color: #6030b1;
}

.btn__link--purple:hover{
    color: white;
}

.nav__btn--contrast:hover{
    background-color: #ff328f;
    color: white;
}

/* 

MOVIE TOP

*/

.top__info{
    position: absolute;
    top: 100px;
    width: 100%;
}

.browse__title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 5px;
    color: white;
    margin-bottom: 20px;
}

.browse__search{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2550px
}

.browse__searchbar{
    position: relative;
    top: 5px;
    padding: 20px 16px;
    width: 100%;
    max-width: 550px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
}

.browse__search--icon{
    position: absolute;
    top: 90px;
    left: 850px;
    /* width: 100%; */
    /* height: 50px; */
    font-size: 30px;
    color: #6030b1;
    transition: all 300ms ease;
    cursor: pointer;
}

.browse__search--icon:hover{
    color: #ff328f;
}

/* 

    MOVIE MAIN

*/

.middle__section--info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
}

.middle__title{
    color:#0a1f44;
    font-size: 28px;
}

.middle__para{
    font-size: 20px;
    font-weight: 700;
}

.loading__state{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: blue;
}

.loading__state--hidden{
    visibility: hidden;
}

.loading__state .movie__loading--state{
    display: block;
}

.fa-spinner{
    animation: rotate 600ms infinite linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg)
    }
}

.movie__display{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 30px;
    margin: 30px 50px;
    border-radius: 5px;
    background: url(./Assets/radial-gradient__inner.png), linear-gradient(to bottom, rgb(255,215,0), rgb(255,0,0));
    background-blend-mode: color-burn;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* visibility: hidden; */
    
    /* background-position: center;
    width: 100%;
    max-width: 300px; */
}

.movie__display--hidden{
    visibility: hidden;
}

.movie__poster--wrapper{
    max-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    margin-bottom: 20px;
}

.movie__poster{
    width: 100%;
}

.movie__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    max-width: 150px;
}

.movie__title{
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 12px;
}

.movie__year{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
}

.movie__imdb{
    font-size: 14px;
    font-weight: 500;
}

