*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    /* overflow: hidden; */
}

a{
    text-decoration: none;
}

.container{
    padding: 15px 0;
}

.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

button{
    cursor: pointer;
}

h1{
    font-size: 57px;
    color: #6030B1;
}

.purple{
    color: #6030b1;
}

li{
    list-style-type: none;
}

/* 

NAV

*/

nav{
    width: 100%;
    padding: 20px 0;
}

.nav__section--home{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav__links{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link--item{
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 45px;
}

.nav__link{
    /* position: relative; */
    
    color: black;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    top: 25px;
    right: 0;
    width: 0;
    border-bottom: 2px solid;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after{
    width: 100%;
    left: 0;
}

.link__hover-effect--black{
    color: black;
}

.link__hover-effect--white{
    color: white;
}

.nav__logo{
    width: 100%;
}

.nav__logo--wrapper{
    max-width: 150px;
}

.nav__btn{
    font-weight: 700;
    letter-spacing: 1px;
    padding: 16px 40px;
    border-radius: 50px;
    background-color: #6030b1;
    border: none;
    color: white;
    transition: all 300ms ease;
}
.nav__btn:hover{
    background-color: #5d3eff;
}

.btn__menu{
    position: relative;
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    /* margin-right: 20px; */
}

.btn__close--menu{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    margin-top: 50px;
    color: white;
    z-index: 3;
}

.menu__links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu__link{
    margin-bottom: 80px;
    font-size: 30px;
    font-weight: 500;
}

.menu__link--anchor{
    color: white;
}

.menu__backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 100vh;
    background-color: black;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
    z-index: 2;
}

.menu__icon--white{
    color: white;
}

.menu--open .menu__backdrop{
    visibility: visible;
    opacity: 1;
}

.menu--open{
    overflow-y: hidden; 
}

/* 

HEADER

*/

.header__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.header__title{
    line-height: 70px;
    margin: 0 30px 20px 20px;
}

.header__sub-title{
    font-size: 30px;
    margin: 0 30px 20px 20px;
}

.header__search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    margin: 50px 0;
}

.header__search--bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    /* max-width: 575px; */
    margin: 0 20px;
    padding: 20px 25px;
    font-size: 24px;
    border-radius: 20px;
    border: 1px solid black;
}

/* .header__search--bar::placeholder{
    position: absolute;
    left: 25px;
    width: 100%;
} */

.header__search--icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    max-width: 150px;
    margin: 0 20px;
    font-size: 40px;
    color: white;
    background-color: #6030b1;
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    transition: all 300ms ease;
    /* display: none; */
}

.header__search--icon:hover{
    background-color: #ff328f;
}

.header__img--wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* width: 100%; */
    max-width: 800px;
}

.header__img{
    position: absolute;
    top: 3vw;
    /* width: 80vh; */
    /* height: 50vh; */
    overflow: hidden;
    width: 100%;
}

.header__car{
    position: absolute;
    top: 460px;
    width: 55vh;
    height: 22.5vh;
    animation: float .5s linear infinite alternate;
}

@keyframes float{
    0%{
        transform: translateY(-1px)
    }
    50%{
        transform: translateY(1px)
    }
    100%{
        transform: translateY(0)
    }
}

.header__car--tires{
    position: absolute;
    top: 635px;
    left: -40px;
    width: 100%;
    max-width: 100px;
}

.header__tire{
    position: absolute;
    top: 0;
    left: 465px;
    width: 9vh;
    height: 9vh;
}

.header_tire--left{
    position: absolute;
    margin-left: -465px;
}

/* .header__tire2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 9vh;
    height: 9vh;
} */

.header__car--headlights{
    position: absolute;
    top: 585px;
    left: -350px;
    width: 4vh;
    visibility: hidden;
}

/* 

MOVIE NAV

*/

.bg__img--wrapper{
    position:relative;
    height: 25vh;
    overflow: hidden;
}

.bg__img{
    position: absolute;
    width: 100%;
}

.bg__img--overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsl(262.3, 57%, 18%);
    opacity: .75;
    width: 100%;
    height: 100%;
}

/* .nav__logo--white{
    filter: rgba(255, 255, 255, 0);
} */

.nav__browse{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 20px;
}

.nav__btn--contrast{
    background-color: white;
    color: #6030b1;
}

.btn__link--purple {
    color: #6030b1;
}

.btn__link--purple:hover{
    color: white;
}

.nav__btn--contrast:hover{
    background-color: #ff328f;
    color: white;
}

/* 

MOVIE TOP

*/

.top__info{
    position: absolute;
    top: 100px;
    width: 100%;
}

.browse__title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 5px;
    color: white;
    margin-bottom: 20px;
}

.browse__search{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2550px
}

.browse__searchbar{
    position: relative;
    top: 5px;
    padding: 20px 16px;
    width: 100%;
    max-width: 550px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
}

.browse__search--icon{
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    margin-left: 59%;
    max-width: 10px;
    font-size: 30px;
    color: #6030b1;
    transition: all 300ms ease;
    cursor: pointer;
}

.browse__search--icon:hover{
    color: #ff328f;
}

/* 

    MOVIE MAIN

*/

.middle__section--info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
}

#years{
    border-radius: 4px;
    padding: 2px 4px;
    cursor: pointer;
}

.middle__title{
    color:#0a1f44;
    font-size: 28px;
}

.middle__para{
    font-size: 20px;
    font-weight: 700;
}

.loading__state{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: blue;
}

.loading__state--hidden{
    visibility: hidden;
}

.loading__state .movie__loading--state{
    display: block; 
}

.fa-spinner{
    animation: rotate 600ms infinite linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg)
    }
}

.movie__container{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.movie__display{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 30px;
    margin: 30px 50px;
    border-radius: 5px;
    background: url(./Assets/radial-gradient__inner.png), linear-gradient(to bottom, rgb(255,215,0), rgb(255,0,0));
    background-blend-mode: color-burn;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.movie__display--hidden{
    visibility: hidden;
}

.movie__poster--wrapper{
    max-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    margin-bottom: 20px;
}

.movie__poster{
    width: 100%;
}

.movie__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 200px;
}

.movie__title{
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 12px;
}

.movie__year{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
}

.movie__imdb{
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 768px){
    .header__title{
        font-size: 42px;
    }

    .header__sub-title{
        font-size: 24px;
    }
    
    .header__search--bar{
        width: 50%;
    }


}

@media (max-width: 768px){
    .nav__link--item{
        padding: 16px;
        font-size: 16px;
        font-weight: 600;
        margin-right: 15px;
        transition: all 300ms ease;
    }
}

@media (max-width: 680px){
    .nav__links{
        display: none;
    }

    .btn__menu{
        display: block;
    }

    .header__title{
        font-size: 36px;
        line-height: 55px;
    }

    .header__sub-title{
        font-size: 20px;
    }

    /* .header__search{
        flex-direction: column;
    } */

    .header__search--bar{
        width: 60%;
        margin: 0 0 25px 40px;
        padding: 15px 25px;
        font-size: 18px;
    }

    .header__search--icon{
        width: 100%;
        margin: 0 40px;
        padding: 8px 12px;
        font-size: 30px;
        max-width: 100px;
    }

    .browse__searchbar{
        padding: 10px 16px;
        width: 80%;
        max-width: 550px;
        font-size: 16px;
        border: none;
        border-radius: 30px;
    }

    .browse__search--icon{
        /* position: absolute; */
        top: 75%;
        /* width: calc(100% + 475px);  */
        font-size: 24px;
        color: #6030b1;
        transition: all 300ms ease;
        cursor: pointer;
    }

    .middle__title{
        color:#0a1f44;
        font-size: 24px;
    }

    .filter__options{
        font-size: 16px;
    }

    /* .movie__poster{
        width: 80%;
    }*/

    /* .movie__display{
        padding: 30px;
        margin: 30px 50px;
        border-radius: 5px;
        background: url(./Assets/radial-gradient__inner.png), linear-gradient(to bottom, rgb(255,215,0), rgb(255,0,0));
        background-blend-mode: color-burn;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } */
}

@media (max-width: 550px){
    .browse__title{
        font-size: 36px;
        text-align: center;
    }

    .middle__para{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .middle__title{
        color:#0a1f44;
        font-size: 22px;
    }

    .filter__options{
        font-size: 14px;
        margin-bottom: 12px;
    }

    .bg__img--wrapper{
        position: relative;
        height: 25vh;
        overflow: hidden;
    }

    .bg__img{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .movie__container{
        padding: 0 90px;
        min-width: 490px;
    }

    .movie__poster--wrapper{
        max-width: 150px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .5);
        margin-bottom: 20px;
    }

    .movie__title{
        font-size: 16px;
        font-weight: 900;
        padding-bottom: 12px;
    }
}

@media (max-width: 480px){
    .browse__title{
        font-size: 26px;
    }
    
    .header__search--bar{
        width: 55%;
        font-size: 12px;
    }

    .header__search--icon{
        width: 20%;
        padding: 4px 0;
    }

    .filter__options{
        font-size: 14px;
        margin-bottom: 12px;
        text-align: right;
    }

    .middle__title{
        font-size: 20px;
        padding-right: 80px;
    }

    .movie__title{
        font-size: 12px;
        font-weight: 900;
        padding-bottom: 12px;
    }

    .movie__container{
        padding: 0 50px;
        min-width: 0;
    }

}